@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
} 
header{
    background-color: black;
    text-align: center;
    color: white;
}
header > h1{
    color: white;
    font-size: 3.5em;
    padding: 10px;
    font-variant: small-caps;
}
a:hover{
    color: white;
    text-decoration: underline;
}
header > p{
    color: white;
    font-size: 1em;
    padding-bottom: 15px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
}
section.normal{
    color: black;
    background-color: white;
}
section.imagem{
    background-color: rgb(88, 88, 88);
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.443);
    width: 400px;
    padding: 10px;

}
footer{
    background-color: black;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
