body{
    font-family: Arial, Helvetica, sans-serif;
}
.cinza{
    background-color: #3b3b3b;
    color: white;
    
}
table{
    border-collapse:collapse ;
}
thead{
    background-color: #3b3b3b;
    color: white;
}
th{
    border: 1px solid black;
    padding: 8px 20px;
}
td{
    border: 1px solid black;
    padding: 10px;
}