@charset "UTF-8";

 /*TODAS AS MIDIAS*/

    /*Typical Device Breakpoints
Peuqenas telas: até 600px
celular: de 600 até 768
tablet: 768 até 992
desktop: 992 até 1200
Grandes telas: +1200px
*/

@media print {
    main{
        border: 2px solid black;
        width: 600px;
    }
    
    img#cell{display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#print{display: block;}
    img#tv{display: none;}
}
/*-----------DIVISÃO DE MIDIAS QUERY-----------*/ 
@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    body{
        background-image: url(../imgs/back-tablet.jpg);
    } 
    img{
        margin: auto;
        width: 160px;
    }
    main{
        width: 450px;
    }
    img#cell{display: none;}
    img#tablet{display: block;}
    img#pc{display: none;}
    img#print{display: none;}
    img#tv{display: none;}
   
    
}
/*-----------DIVISÃO DE MIDIAS QUERY-----------*/ 
@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP*/
    body{
        background-image: url(../imgs/back-pc.jpg);
    }
    img{
        margin: auto;
        width: 180px;
    }
    main{
        width: 600px;
    }
    img#cell{display: none;}
    img#tablet{display: none;}
    img#pc{display: block;}
    img#print{display: none;}
    img#tv{display: none;}

}
/*-----------DIVISÃO DE MIDIAS QUERY-----------*/ 
@media screen and (min-width:1200px){ /*GRANDES TELAS*/
    body{
        background-image: url(../imgs/back-tv.jpg);
    }
    main{
        width: 800px;
    }
    img#cell{display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#print{display: none;}
    img#tv{display: block;}
}


/*-----------DIVISÃO DE MIDIAS QUERY-----------*/ 